

body{
    padding: 0 7vw 0 7vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*/ /*ШАПКА*//*ШАПКА*/

header{
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_first_cont{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.header_second_cont{
    display: flex;
    align-items: center;
}

.header_icons{
    display: flex;
    gap: 2vw;
}

.icon_menu600{
    position: absolute;
    right: 12%;
    display: none;
}





/*ПЕРВЫЙ БЛОК LETS HITS THE ROAD*/

.first_block, .second_block, .third_block{
    display: flex;
    border-bottom: 2px solid grey;
    justify-content: space-between;
    
}

.first_block_text {
    padding: 8%;
    width: 42%;
}

h1{
    font-size: 2.2em;
}

p{
    text-align:justify;
}

span{
    font-size: 0.8em;
}

.button1, .button_down {
    padding: 3% 5%; 
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    color: grey;
}

.first_block_img{
    display: flex;
    width: 60%;
    max-height: 640px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}





/*ВТОРОЙ БЛОК СТОРИ*/

.second_block_img{
    display: flex;
    width: 35%;
    max-height: 463px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.button2{
padding: 1.5% 3.5%; 
border-radius: 5px;
border: 1px solid grey;
background-color: white;
color: grey;
}



/*ТРЕТИЙ БЛОК СТОРИ*/

.third_block{
justify-content: end;
}

.third_block_img{
    display: flex;
    width: 38%;
    max-height: 463px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.second_block_text, .third_block_text {
    padding: 4%;
    width: 60%;
}



/*ГАЛЕРЕЯ*/

.h1_names{
    text-align: center;
}

.box_gallery{
    display: flex;
    flex: content;
    justify-content: center;
}

.photo{
    display: flex;
    width: 300px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}




/*РАЗДЕЛЫ*/

.box_sections{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.section{
  
    width: 29%;
    text-align: center;
    padding: 2%;

}

.section p{
    text-align: center;
}

.section1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.section2 {
    border-bottom: 1px solid black;
}

.section3{
    border-bottom: 1px solid black;
    border-left: 1px solid black;;
}

.section4, .section5{
    border-right: 1px solid black;
}


/*ФОРМЫ ИНПУТЫ*/

form{
    margin-left: 13%;
    margin-right: 13%;
}


form:first-child{
    justify-items: center; 
}


form p{
    font-size: 1em;
    font-weight: bold;
}

.input_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input {
    
    width: 32%;
}


.input input{
    width: 95%;
   font-size: 1.3rem;
}

.radio_box{
    display: flex;
    align-items: center;
    gap: 2%;
}


 .radio_buttons{
     display: flex;
     gap: 3%;
 }

.name_radio{
    font-size: 1rem;
    font-weight: normal;
}

.iamhuman{
    display: flex;
    
}

.iamhuman p{
    font-size: 0.9rem;
    font-weight: normal;
}


.choice_input{
   width: 100%;
}

.select_input{
   width: 99.5%;
   height: 30px;
}

optgroup { font-size:11px; }

.textarea{
    width: 99.5%;
}

textarea{
    width: 99%;
    height: 200px;
}


.down_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.div_button_down{
    display: flex;
    padding-right: 1%;
    justify-content: end;
    width: 40%;
}


/*ФУТЕР*/

footer{
    text-align: center;
    filter: opacity(60%);
}


.footer_icons_box{
    display: flex;
    justify-content: center;
    gap:1%;
    
}

.icons_div{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.end{
    font-size: 0.6rem;
}





















 


/*МЕДИА ЗАПРОСЫ*/ 



/*от 601 - 850*/
@media screen and (max-width: 850px) and (min-width: 601px) {


    .header_icons{
        position: absolute;
        display: none;
    }
    
    .first_block{
        max-height: 450px;

    }

    .first_block_text{
        padding: 1%;
    }

    h1{
        font-size: 1rem;;
    }

    .h1_names{
        font-size: 2rem;
        padding: 20px 0 20px 0;
    }

    .first_block_img, .second_block_img, .third_block_img {
        width: 50%;

    }

    .first_block_text, .second_block_text, .third_block_text{
        font-size: 0.9em;
        width: 42%;
    }

    .photo:nth-last-child(-n+2){
        display: none;
    }

    .section {
        width: 45%;
    }

    .section3{
        border-left: none;
        border-bottom: 1px solid black;
        border-right: 1px solid black;;
    }

    .section4{
        border-bottom: 1px solid black;
        border-right: none;
    }

    form{
        margin-right: 0;
        margin-left: 0;
    }

    




}


/*до 600*/
@media screen and (max-width: 600px) {
    
    .header_item:nth-child(n+2){
          position: absolute;
          display: none;
    }
    .header_icons{
        position: absolute;
        display: none;
    }

    .icon_menu600{
        display: block;
    }
    .first_block, .third_block{
        flex-wrap: wrap;
    }

    .second_block{
        flex-wrap: wrap-reverse;
    }
    
    .first_block div, .second_block div, .third_block div {
        width: 85vw;
    }

    .first_block_img{
        height: 520px;
    }

    .photo:nth-last-child(-n+4){
        display: none;
    }
    
    .photo{
        display: flex;
        width: 80vw;
        height: 570px;
        overflow: hidden;
        justify-content: center;
        align-content: center; 
    }

    .section {
        width: 90%; 
        height: 200px;
        padding-top: 10%;
    }

    .section1{
        border-right: none;
    }

    .section3{
        border-left: none;
    }

    .section4, .section5{
        border-right: none;
        border-bottom:  1px solid black;
    }

    
    form{
        margin: 0 5% 0 5%;
    }

    .input {
        width: 100%; 
    }
    

    .input_box{
        flex-wrap: wrap;
        justify-content: center;
    }

    .radio_box{
        display: block;

    }

    .iamhuman p, .name_radio{
        font-size: 0.8rem;
        font-weight: normal;
    }





  
    

   


}
